.form-select {
    background-color: var(--clr-grey-dark);
    border-radius: 10px;
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
    padding: 1em;
    min-height: 500px;
    position: relative;
}

.form-select h3{
    color: var(--clr-sand);
    margin: 0 0 .5em;
    font-weight: 600;
    font-size: 1.8rem;
}

.form-select-list {
    position: absolute;
    top: 3.6em;
    right: 1em;
    bottom: 1em;
    left: 0;

    /* background-color:var(--clr-grey-medium); */
    padding: .9em .7em;

    display: flex;
    flex-direction: column;

    overflow:auto;
    overflow-x: hidden;
}

.playlist{
    display: flex;
    font-size: 1rem;
    padding: .5em 1em;
    background-color:var(--clr-grey-dark);
    border-radius: 20px;
    border: 1px solid #2b2a2a;
    transition: 0.8s all cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.playlist:focus, .playlist:hover{
    transform: scale(1.02);
    /* box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18); */
    box-shadow:0 9px 47px 8px  #1d1d1d;
}


.playlist + .playlist {
    margin-top: .75em;
}

.playlist img {
    justify-self: flex-start;
    width: 4em;
    margin-right: 1em;
    border-radius: 10px;
} 
.playlist-values {
    display: flex;
    flex-direction: column;
}

.playlist-values h4, .playlist-values p{
    margin: 0;
}

.playlist-values h4 {
    font-size: .9rem;
}

.playlist-values p{
    font-size: .8rem;
    font-weight: 300;
}

.form-select-loading{
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 600px) {
    .form-select {

        min-height: 450px;

    }
}